{% extends "_layouts/cp" %}

{% set title = title ?? "Translations" %}
{% set selectedSubnavItem = "translations" %}
{% set selectedItem = craft.app.request.getSegment(2) %}

{% set navItems = {
    'translations-heading': { heading: "Translations" },
    'entries': { title: "Entradas" },
    'import-export': { title: "Importar/exportar" },
    'groups': { title: "Grupos" },
    'options': { title: "Opciones" },
} %}

{% block sidebar %}
    <nav>
        <ul>
            {% for id, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li><a href="{{ url('pragmatic-translations/' ~ id) }}"{% if id == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    {% block main %}{% endblock %}
{% endblock %}
